.site-header {
    padding: 10px 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    -webkit-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
}

.site-header.site-header--is-expanded {
    background-color: rgba(47, 85, 114, 0.55);
}

@media (min-width: 800px) {
    .site-header {
        position: fixed;
        background-color: rgba(47, 85, 114, 0.3)
    }
    .site-header--dark {
        background-color: rgba(23, 51, 72, .85);
    }
}

.site-header__btn-container {
    margin: 0 auto;
}

@media (min-width: 800px) {
    .site-header__btn-container {
        float: right
    }
}

.site-header__logo {
    position: absolute;
    background-color: #2f5572;
    padding: 15px 18px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(0.8);
    transform: translateX(-50%) scale(0.8);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition: -webkit-transform .6s ease-out;
    transition: -webkit-transform .6s ease-out;
    transition: transform .6s ease-out;
    transition: transform .6s ease-out, -webkit-transform .6s ease-out;
}

@media (min-width: 800px) {
    .site-header__logo {
        left: auto;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        padding: 25px 36px
    }
    .site-header--dark .site-header__logo {
        -webkit-transform: scale(.57);
        transform: scale(.57);
    }
}

.site-header__menu-logo {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.site-header__menu-logo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #FFF;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.site-header__menu-logo__middle {
    position: absolute;
    top: 8px;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #FFF;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.site-header__menu-logo::after {
    content: '';
    position: absolute;
    top: 16px;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #FFF;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

@media (min-width: 800px) {
    .site-header__menu-logo {
        display: none
    }
}

.site-header__menu-icon--close-x::before {
    -webkit-transform: rotate(45deg) scaleX(1.25);
    transform: rotate(45deg) scaleX(1.25);
}

.site-header__menu-icon--close-x .site-header__menu-logo__middle {
    opacity: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

.site-header__menu-icon--close-x::after {
    -webkit-transform: rotate(-45deg) scaleX(1.25) translateY(1px);
    transform: rotate(-45deg) scaleX(1.25) translateY(1px);
}

.site-header__menu-content {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    padding-top: 90px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    z-index: -10;
    position: relative;
    text-align: center;
}