.btn {
    background-color: $mainBlue;
    color: #FFF;
    text-decoration: none;
    padding: 0.75rem 1.2rem;
    display: inline-block;
    &--orange {
        background-color: $mainOrange;
    }
    &--large {
        padding: 1.1rem 1.9rem;
        @mixin atSmall {
            font-size: 1.25rem;
        }
    }
    &__add-to-cart {
        font-size: 0.75rem;
        background-color: $mainOrange;
        color: #FFF;
        text-decoration: none;
        padding: 0.35rem 0.6rem;
        display: inline-block;
        margin-right: 0.5 rem;
        @mixin atSmall {
            font-size: 0.9rem;
        }
    }
    &__product-details {
        font-size: 0.75rem;
        background-color: $mainBlue;
        color: #FFF;
        text-decoration: none;
        padding: 0.35rem 0.6rem;
        display: inline-block;
        @mixin atSmall {
            font-size: 0.9rem;
        }
    }
}