.large-hero {
    position: relative;
    border-bottom: 10px solid $mainBlue;
    &__image {
        display: block;
    }
    &__text-content {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        text-align: center;
        padding-top: 88px;
        @mixin atMedium {
            padding-top: 60px;
        }
    }
    &__title {
        font-weight: 300;
        color: $mainBlue;
        margin: 0;
        font-size: 2.4rem;
        @mixin atSmall {
            font-size: 3.8rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 400;
        }
    }
    &__subtitle {
        font-weight: 300;
        color: $mainBlue;
        font-size: 1.5rem;
        margin: 0;
        @mixin atSmall {
            font-size: 2.9rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: lighter;
        }
    }
    &__description {
        color: #FFF;
        font-size: 1.1rem;
        font-weight: 100;
        max-width: 30rem;
        margin-left: auto;
        margin-right: auto;
        @mixin atSmall {
            font-size: 1.875rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: lighter;
        }
    }
    &__chat {
        color: #FFF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: lighter;
    }
}