/* Bordered form */

.log-in-form {
    border: 3px solid #f1f1f1;
}


/* Full-width inputs */

.login-text,
.login-password {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Set a style for all buttons */

.loginbtn {
    background-color: lightgreen;
    color: white;
    padding: 10px 18px;
    margin: 8px 4px;
    cursor: pointer;
    width: 13em;
}


/* Extra style for the cancel button (red) */

.cancelbtn {
    width: auto;
    color: white;
    margin: 8px 4px;
    padding: 10px 18px;
    background-color: $mainOrange;
}

.container-button {
    text-align: center;
    @mixin atMedium {
        float: left;
    }
}