/* Default Styles
--------------------------------------------------- */

.success {
    color: green;
}

.home-a:link {
    text-decoration: underline;
    color: #000;
    font-weight: bold;
}

.home-a:visited {
    text-decoration: underline;
    color: #000;
    font-weight: bold;
}

.home-a:hover {
    text-decoration: underline;
    color: #669933;
    font-weight: bold;
}

.home-a:active {
    text-decoration: underline;
    color: #000;
    font-weight: bold;
}

#home-wrapper {
    width: 965px;
    margin: 0 auto;
}

#home-content {
    background-color: #eee;
    width: auto;
    text-align: left;
    overflow: auto;
    position: relative;
    margin: 15px 0px 15px 0px;
    border: #fff solid 2px;
}

.clear {
    float: none;
    clear: both;
    margin: 20px 0px 20px 0px;
}


/* Header
--------------------------------------------------- */

#contact-details .header_1 {
    float: left;
    width: 350px;
    text-align: center;
    margin: 40px 0px 0px 20px;
}

#contact-details .header_1 img {
    border: #fff solid 4px;
    padding: 16px;
    margin: 10px 0px 0px 0px;
}

#contact-details .header_2 {
    float: left;
    width: 570px;
    margin: 40px 0px 0px 10px;
}

#contact-details .header_2 a {
    font-weight: normal;
}

#contact-details h1 {
    margin: 0px 0px 0px 20px;
    font-size: 40px;
    font-weight: bold;
}

#contact-details h3 {
    margin: 0px 0px 32px 20px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

#contact-details ul.info_1 {
    list-style: none;
    margin: 0px 0px 0px -12px;
    font-size: 18px;
}

#contact-details ul.info_2 {
    list-style: none;
    margin: 0px 0px 15px -12px;
    font-size: 18px;
}

#contact-details li.address {
    background-position: 0px 0px;
    padding: 0px 0px 12px 40px;
}

#contact-details li.phone {
    background-position: 0px 0px;
    padding: 0px 0px 12px 40px;
}

#contact-details li.email {
    background-position: 0px 0px;
    padding: 0px 0px 12px 40px;
    font-weight: bold;
}

#contact-details li.site_url {
    background-position: 0px 2px;
    padding: 0px 0px 12px 40px;
    font-weight: bold;
}

#contact-details li.twitter {
    background-position: 0px 0px;
    padding: 0px 0px 12px 40px;
    font-weight: bold;
}

#contact-details li.address {
    background-position: 0px 0px;
    padding: 0px 0px 12px 40px;
    font-weight: bold;
}

#contact-details li.phone {
    background-position: 0px 0px;
    padding: 0px 0px 12px 40px;
    font-weight: bold;
}

.changeDetails {
    background-color: lightblue;
    float: right;
    margin: 0px 80px;
    cursor: pointer;
}


/* Modal
--------------------------------------------------- */

.history_modal>label {
    background: lightgreen;
    border: 1px solid grey;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 0.2em 1.5em;
    text-shadow: 1px 1px 1px #fff;
    transition: all 0.55s;
}

.history_modal__overlay {
    background: black;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    text-shadow: none;
    top: 0;
    z-index: 600;
}

.history_modal__wrap label {
    background: white;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 1.5em;
    line-height: 1.5;
    position: absolute;
    right: .5em;
    top: .5em;
    width: 1.5em;
}

.history_modal__wrap p {
    color: #FFD300;
    text-align: justify;
}


/*==================================== 
  Our Modal action styles
=====================================*/

#history_modal__trigger {
    position: absolute;
    top: -1000px;
}

.history_modal__overlay {
    opacity: 0;
    z-index: -100;
    transform: scale(0.5);
    transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#history_modal__trigger:checked~.history_modal__overlay {
    opacity: 1;
    transform: scale(1);
    z-index: 800;
}

.history_main {
    color: white;
}

#loadingDiv {
    color: white;
    padding: 2px;
}

.history_modal {
    float: right;
    padding-right: 45%;
    padding-bottom: 10px
}