.product-item {
    &__title {
        font-size: 0.85rem;
        @mixin atSmall {
            font-size: 1rem;
        }
    }
    &__price {
        font-style: oblique;
        padding: 7px 0;
        font-size: 0.75rem;
        @mixin atSmall {
            font-size: 0.8rem;
        }
    }
    &__description {
        font-size: 0.7rem;
        text-align: justify;
        padding: 0 10px;
        @mixin atSmall {
            font-size: 0.9rem;
        }
    }
    &__title-big {
        font-size: 1.2rem;
        @mixin atSmall {
            font-size: 1.4rem;
        }
    }
}