.sign-up-form {
    margin-top: 3rem;
}


/* Full-width input fields */

.singup-text,
.singup-password {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Set a style for all buttons */

.signupbtn {
    background-color: $mainOrange;
    color: white;
    padding: 10px 18px;
    margin: 5px 0;
    cursor: pointer;
    width: 13em;
}


/* Extra styles for the cancel button */

.cancelbtn {
    padding: 10px 18px;
    margin: 5px 0;
    width: auto;
    color: white;
    background-color: $mainOrange;
}


/* Add padding to container elements */

.signup-container {
    padding: 3rem 1rem;
    @mixin atMedium {
        width: 40%;
        margin: 0 auto;
    }
}


/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}