footer.site-footer
    .wrapper    
        p 
            span.site-footer__text Copyright &copy; 2017 E-Bikers Team. All rights reserved.
            a.btn.btn--orange.open-modal(href="#") Get in Touch
   


