.modal
    .modal__inner
        .wrapper.wrapper--narrow    
            p.modal__description This is our project in "Web application with Node.js"
        .social-icons
            a.social-icons__icon(href="#")
                img.section-title__icon.icon(src="")
    .modal__close X    

