extends layout.pug

//- block content
//-   ul #collection
//-     li= brand
//-     li= model

block content
  table
  each bike in bikeList
    tr#bike_list_item    
      td #{bike.brand}
      td #{bike.model}
