doctype html
html(lang="en")

  head
    title Bikes
    link(rel='stylesheet', href='/static/styles/layout.css')
  body
    include includes/header.pug
    br 
    br 
    br
    block content    
    include includes/footer.pug        