doctype html
html(lang="en")

  head
<<<<<<< HEAD
    title= title
    link(rel='stylesheet', href='/static/styles/layout.css')
=======
    title Bikes

    link(rel='stylesheet', href='../styles/home.css')
    
>>>>>>> ce82410bcd40722074c3f5ee47371ac11f392741
  body
    include includes/header.pug
    block content    
    include includes/footer.pug        