doctype html
html(lang="en")

  head
    title Bikes

    link(rel='stylesheet', href='/static/styles/layout.css')

    block custom-styles

    script(src='/static/scripts/layout.js')

    block custom-scripts

  body
    include includes/header.pug
    block content    
    include includes/footer.pug        