doctype html
html(lang="en")

  head
    title Bikes

    link(rel='stylesheet', href='/static/styles/layout.css')
<<<<<<< HEAD

    block custom-styles

    script(src='/static/scripts/layout.js')

    block custom-scripts

=======
    
>>>>>>> a48cd6a7d0f00b0411e6213c97b82295af18f329
  body
    include includes/header.pug
    br 
    br 
    br
    block content    
    include includes/footer.pug        