extends layout.pug


block custom-styles
    link(rel='stylesheet', href='/static/styles/login.css')


block content
    .wrapper
        br
        form.log-in-form
        .container
            label
            b Username
            input.login-text(type='text', placeholder='Enter Username', name='uname', required='')
            label
            b Password
            input.login-password(type='password', placeholder='Enter Password', name='psw', required='')
            button.loginbtn(type='submit')  Login
            input(type='checkbox', checked='checked')
            |  Remember me
        button.cancelbtn(type='button') Cancel
