extends layout.pug

block custom-styles
    link(rel='stylesheet', href='/static/styles/chat.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')

block content
    .wrapper.wrapper--t-padding
        #ebike-chat
            h2 E-bike Chat
            #chat-window
                #output
                #feedback
            input#handle(type="text", placeholder="Handle")
            input#message(type="text", placeholder="Message")
            button#send Send

block custom-scripts
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='/static/scripts/chat.js')