doctype html
html(lang="en")

  head
    title Bikes

    link(rel='stylesheet', href='/static/styles/layout.css')

    block custom-styles
    
  body
    include includes/header.pug
    br 
    br 
    br
    block content    
    include includes/footer.pug
    include includes/modal.pug     
    script(src='/static/scripts/layout.js')

    block custom-scripts   