extends layout.pug


block custom-styles
    link(rel='stylesheet', href='/static/styles/login.css')

block content
    .wrapper
        br
        form.log-in-form(action='/auth/login', method='post')
            .login-container
                .email-container
                    label
                    b Email
                    input.login-text.email-validate(type='text', placeholder='Enter Email', name='email', required)
                    span.error-email Please enter valid email!
                    
                .password-container
                    label
                    b Password
                    input.login-password.password-validate(type='password', placeholder='Enter Password', name='password', required) 
                    span.error-password Password should be equal to or longer than 4 characters and contain letters and numbers!
                    br
                    .container-button
                        button.loginbtn(type='submit')  Login
                        .container-button
                        input(type='checkbox', checked='checked')
                        |  Remember me

block custom-scripts
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='/static/scripts/loginValidate.js')
