extends layout.pug

block custom-styles
    link(rel='stylesheet', href='/static/styles/myCart.css')
    
block content
   
   .wrapper
 
      .flex__container.flexbox-container.wrap
      .totalPrice Total Price:
        a.btn__purchase.flex__item-btn Purchase
         

block custom-scripts
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='/static/scripts/myCart.js')
