extends layout.pug

block custom-styles
      
    
    link(rel='stylesheet', href='/static/styles/myProfile.css')
    
block custom-scripts
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='/static/scripts/myProfile.js')

block content
       .wrapper
           #home-wrapper
                // Begin Content Area
                #home-content
                    // Begin Header
                    p
                    // Begin Contact Section
                    section#contact-details
                        
                        .header_1
                            img(src='/static/images/defaultProfilePic.png', width='250', height='250', alt='Your Name')
                        
                        .header_2
                            h1
                                span Todor Dinkov
                                                            
                            ul.info_1 
                                li.address Address:   
                                    a.home-a(href='mailto:your-email@gmail.com', title='View a Map') 555 Street Address, Toledo, Ohio, 43606 U.S.A.
                            ul.info_2
                                li.phone Phone:  
                                    a.home-a(href='mailto:your-email@gmail.com', title='Call us!') (000) 000-0000
                                li.email Email address: 
                                    a.home-a= email
                                li.site_url Website:  
                                    a.home-a(href='http://www.webcodepro.net/about.php', title='www.your-website.com') www.your-website.com
                                li.twitter Purchase History:  
                                        .history_modal
                                            input#history_modal__trigger(type='checkbox')
                                            label(for='history_modal__trigger')  History 
                                            .history_modal__overlay
                                                    .history_modal__wrap
                                                        label(for='history_modal__trigger') ✖
                                                        h2.history_main History to be listed in the loading image once the request is returned successfully
                                                        p
                                                            #loadingDiv
                                                                img(src='/static/images/loading_gif.gif')
                                                                br
                                                                | Loading

                                .container-button
                                    form(action='./updateProfile')
                                        input.changeDetails(type='submit', value='Change Details', title="Press to change user details")
   
                                        
                    .clear  
                    //
   
                                   