extends layout.pug

block custom-styles
    link(rel='stylesheet', href='/static/styles/signup.css')


block content
    .wrapper
        form.sign-up-form(action='/auth/signup', method='post')
            .signup-container
                label
                b Email
                input.singup-text(type='text', placeholder='Enter Email', name='email')
                label
                b Password
                input.singup-password(type='password', placeholder='Enter Password', name='password', required)
                label
                b Repeat Password
                input.singup-password(type='password', placeholder='Repeat Password', name='password-repeat')
                input(type='checkbox', checked='checked')
                |  Remember me
                .container-button
                button.signupbtn(type='submit') Sign Up
