extends layout.pug

block custom-styles
    link(rel='stylesheet', href='/static/styles/updateProfile.css')
      
block content
    
        .wrapper
            
            br
            #home-content
                section#contact-details
                    fieldset 
                        .header_1
                            img(src='/static/images/defaultProfilePic.png', width='250', height='250', alt='Your Name')                                
                        .form-group
                            label Email Address:              
                            
                        input(name='textinput', type='text', placeholder='trade show name')
                        // Text input
                  
                        p
                        .form-group
                            label Address:      
                          
                        input(name='textinput', type='text', placeholder='Enter Your Address')
                        // Text input
                        p
                        .form-group
                            label Phone
                            
                        input(name='textinput', type='text', placeholder='0000-000')
                        // Select Basic
                        p
                        .form-group
                            label Sex:
                        select(name='selectbasic')
                            option(value='1') Male
                            option(value='2') Female
                        p
                        .form-group.uploadBTN
                            label Upload Photo:            
                        p     
                        input.btn-primary(name='filebutton', type='file')
                        button.btn.submitBTN(name='singlebutton') Submit






