header.site-header
    .wrapper
        a.site-header__logo(href="/")
          img(src="../../../static/images/defaultProfilePic.png")
          
        .site-header__menu-logo
          .site-header__menu-logo__top
          .site-header__menu-logo__middle
          .site-header__menu-logo__bottom
        .site-header__menu-content
          .site-header__btn-container
            if authenticated
              a.btn(href="/auth/logout") Log-Out
              span &nbsp
              span.numberOfPurchases 
              a.btn.site-header__my-cart(href="/auth/myCart")
                
             
            else
              a.btn(href="/auth/login") Log-In
              span &nbsp
              a.btn(href="/auth/signup",) Sign-Up
              span &nbsp
          nav.primary-nav.primary-nav--pull-right
            ul
              li
                a(href="/bike/allbikes") All Bikes
              li
                a#features-link(href="/bike-spare-parts") Parts & Spares
              li
                a#accessories-link(href="/accessories") Accessories
              if authenticated
                li
                  a#testimonials-link(href="/auth/myProfile") My profile
              else
                li
                  a#testimonials-link(href="/testimonials") Testimonials
                
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(src='/static/scripts/header.js')