.modal
    .modal__inner
        .wrapper.wrapper--narrow    
            p.modal__description This project is made thanks to:
                .profile
                    img.profile__photo(src="../../../static/images/portraitPhoto--peter.jpg")
                    p.profile__name Petar Georgiev
                    .profile__icons-container
                        a(href="https://www.facebook.com/peter.georgiev.85")
                            img.profile__icons(src="../../../static/images/profile__icons-facebook.png")
                        a(href="https://github.com/peter-85")
                            img.profile__icons(src="../../../static/images/profile__icons-github.png")
                .profile
                    img.profile__photo(src="../../../static/images/portraitPhoto--sava.jpg")
                    p.profile__name Sava Ivanov
                    .profile__icons-container
                        a(href="https://www.facebook.com/sava.ivanov.9")
                            img.profile__icons(src="../../../static/images/profile__icons-facebook.png")
                        a(href="https://github.com/SavaIvanov9")
                            img.profile__icons(src="../../../static/images/profile__icons-github.png")
                .profile
                    img.profile__photo(src="../../../static/images/portraitPhoto--todor.jpg")
                    p.profile__name Todor Dinkov
                    .profile__icons-container
                        a(href="https://www.facebook.com/todor.dinkov.77")
                            img.profile__icons(src="../../../static/images/profile__icons-facebook.png")
                        a(href="https://github.com/fasttakerbg")
                            img.profile__icons(src="../../../static/images/profile__icons-github.png")
    .modal__close X    

